<?xml version="1.0"?>

<launch>
  <arg name="ns" default="espros_tof_cam635"/>
  <arg name="nn" default="camera"/>
  <arg name="respawn" default="false"/>
  <arg name="port_name" default="/dev/espros"/>
  <arg name="frame_rate" default="10"/>
  <arg name="stream" default="distance"/>
  <arg name="integration_time_0"  default="200"/>
  <arg name="integration_time_1"  default="0"/>
  <arg name="integration_time_2"  default="0"/>
  <arg name="integration_time_3"  default="0"/>
  <arg name="integration_time_4"  default="200"/>
  <arg name="integration_time_5"  default="0"/>
  <arg name="integration_time_gray" default="50000"/>
  <arg name="temporal_filter_factor_WFOV"   default="1000"/>
  <arg name="temporal_filter_threshold_NFOV" default="300"/>
  <arg name="spatial_average_filter" default="false"/>
  <arg name="min_amplitude_0" default="50"/>
  <arg name="offset_distance" default="0"/>
  <arg name="image_type" default="3"/>
  <arg name="mode" default="0"/>
  <arg name="roi_leftX" default="10"/>
  <arg name="roi_topY" default="10"/>
  <arg name="roi_rightX" default="149"/>
  <arg name="roi_bottomY" default="49"/>
  <arg name="automatic_integration_time" default="false"/>


  <group ns="$(arg ns)">
    <node pkg="espros_tof_cam635"
          type="tof_cam635_node"
          name="$(arg nn)"
          output="screen"
          respawn="true"
          >

      <param name="stream" value="$(arg stream)"/>
      <param name="port_name" value="$(arg port_name)"/>
      <param name="frame_rate" value="$(arg frame_rate)"/>
      <param name="integration_time_0" value="$(arg integration_time_0)"/>
      <param name="integration_time_1" value="$(arg integration_time_1)"/>      
      <param name="integration_time_2" value="$(arg integration_time_2)"/>
      <param name="integration_time_3" value="$(arg integration_time_3)"/>
      <param name="integration_time_4" value="$(arg integration_time_4)"/>
      <param name="integration_time_5" value="$(arg integration_time_5)"/>                        
      <param name="integration_time_gray" value="$(arg integration_time_gray)"/>
      <param name="temporal_filter_factor_WFOV" value="$(arg temporal_filter_factor_WFOV)"/>
      <param name="temporal_filter_threshold_NFOV" value="$(arg temporal_filter_threshold_NFOV)"/>
      <param name="spatial_average_filter" value="$(arg spatial_average_filter)"/>
      <param name="min_amplitude_0" value="$(arg min_amplitude_0)"/>
      <param name="offset_distance" value="$(arg offset_distance)"/>
      <param name="image_type"   value="$(arg image_type)"/>
      <param name="mode"        value="$(arg mode)"/>
      <param name="roi_left_x"   value="$(arg roi_leftX)"/>
      <param name="roi_top_y"    value="$(arg roi_topY)"/>
      <param name="roi_right_x"  value="$(arg roi_rightX)"/>
      <param name="roi_bottom_y" value="$(arg roi_bottomY)"/>

      <remap from="image_raw" to="$(arg nn)/image_raw"/> 
      <remap from="camera_info" to="$(arg nn)/camera_info"/> 
      <remap from="set_camera_info" to="$(arg nn)/set_camera_info"/>
      <param name="automatic_integration_time" value="$(arg automatic_integration_time)"/> 
    </node>

<!--    <node name="rviz" pkg="rviz" type="rviz" args= "-d $(find espros_tof_cam635)/rviz/config_cam635.rviz" > </node>
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"> </node> -->
    <node name="tf_link_espros_wheel_camera" pkg="tf" type="static_transform_publisher" args="-0.16 0 0.09 1.57 0 -1.55 /ropod/base_link sensor_frame 1" />


  </group>
</launch>
